.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background_display{
  display: flex;
  width: 100vw;
  height:35vh;
  background-color: #004173;
}

.container{
  padding-left: 3%;
  padding-top: 1%;
  display: flex;
  width: 75%;
  flex-direction: column;
}

.welcome{
  padding-top: 2%;
  display: flex;
  color: white;
  font-family: 'Segoe UI', 'Helvetica Neue';
  font-weight: 400;
  font-size: 14px; 
}
.question{
  padding-top: 1%;
  display: flex;
  color: white;
  font-family: 'Segoe UI', 'Helvetica Neue';
  font-weight: 400;
  font-size: 30px; 
}
.det{
  padding-top: 1%;
  display: flex;
  color: white;
  font-family: 'Segoe UI', 'Helvetica Neue';
  font-weight: 400;
  font-size: small; 
}
.inputContainer{
  padding-top: 3%;
  display: flex;
}
.input {
  width: 50%;
  height: 70%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
