.tileContainer{
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tileBox1{
    margin-left: 1%;
    display: flex;
    height: 20vh;
    width: 30vw;
    color: #0065b3;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.tileBox2{
    margin-left: 1%;
    display: flex;
    height: 20vh;
    width: 30vw;
    color: #0065b3;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.tileBox3{
    margin-left: 1%;
    display: flex;
    height: 20vh;
    width: 30vw;
    color: #0065b3;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.tileBox4{
    margin-left: 1%;
    display: flex;
    height: 20vh;
    width: 30vw;
    color: #0065b3;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}